extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let gamesid = toShow._id
        - let games = toShow.games
        - let equipment = toShow.equipment
        - let no_of_players = toShow.no_of_players
        - let actionid = "/resource/deletegames/" + gamesid

        script.
            let actionid = "#{actionid}";
        div
            div.row
                div(class='gamesAttr mr-3') Games ID is:
                div #{gamesid}
            div.row
                div(class='gamesAttr mr-3') games is:
                div #{games}
            div.row
                div(class='gamesAttr mr-3') equipment is:
                div #{equipment}
            div.row
                div(class='gamesAttr mr-3') no_of_players is:
                div #{no_of_players}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
        function cancel() {
            // Go back to the home page for the bird collection
            window.location.href = '/games';
        }
        
    script.
        function deleteOnid() {
            console.log("Starting delete");

            // Delete first
            fetch(actionid, {
                method: 'DELETE',
                // Don't need a body for the delete
            })
            .then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            })
            .then((body) => {
                alert("Delete succeeded");
                window.location.href = '/games';
                // TODO handle body
            })
            .catch((error) => {
                // TODO handle error
                alert("Delete failed " + error);
            });
        }
